/* Fonts */



/* Nav */

.navigation{
  background-color: rgba(0,0,0,0);
  border: none;
}

/* Hero */

#hero{
  background-image: url("../img/cover-letter-hero.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  min-height: 350px;
}

#hero h2{
  text-align: center;
  position: relative;
  top: 40px;
}

.quote-box{
  padding-top: 8%;
}

/* Cover Letter */

.letter{
  /*width: 75%;*/
}

/* Footer */

footer{
  height: 65px;
  background-color: #222;
}

footer h3{
  text-align: center;
  color: #555;
  font-size: 15px;
}
