/* Fonts */



/* Nav */

.navigation{
  background-color: rgba(0,0,0,0);
  border: none;
}

/* Hero */

#hero{
  background-color: #222;
  min-height: 200px;
}

#hero h2{
  text-align: center;
  position: relative;
  top: -30px;
  color: #777;
}

.quote-box{
  padding-top: 8%;
}
/* Hero End */

/* English */

#english-box{
  background-image: url("../img/english-hero.jpg");
  background-attachment: scroll;
  background-size: cover;
  height: 500px;
}

.english-video{
  padding-top: 55px;
}

.english-description{
  background-color: #222;
  position: absolute;
  margin-top: 85px;
}

.english-description h1{
  color: #888;
}

.english-description p{
  color: #777;
  padding-top: 30px;
}

/* Footer */

footer{
  height: 65px;
  background-color: #222;
}

footer h3{
  text-align: center;
  color: #555;
  font-size: 15px;
}
